<section class="hero">
    <div class="hero-content">
      <h1>RESERVA TU CANCHA Y <span>JUEGA YA</span></h1>
      <p>
        Canchas de césped sintético de última generación, iluminación LED y vestuarios de primer nivel.
      </p>
      <div class="hero-buttons">
        <button class="btn-main" routerLink="/canchas">Reservar Turno</button>
        <button class="btn-secondary" routerLink="/canchas">Ver Canchas</button>
      </div>
    </div>
  </section>
  
  <section class="services">
    <h2>NUESTROS SERVICIOS</h2>
    <div class="services-grid">
      <div class="service-card">
        <div class="icon">⚽</div>
        <h3>Canchas 6 y 7</h3>
        <p>Césped sintético .</p>
      </div>
      <div class="service-card">
        <div class="icon">💡</div>
        <h3>Iluminación LED</h3>
        
      </div>
      <div class="service-card">
        <div class="icon">🍔</div>
        <h3>Cantina</h3>
        <p>Espacio ideal para compartir el tercer tiempo con bebidas y comidas.</p>
      </div>
    </div>
  </section>
